$clr-accent: hsl(164, 31%, 17%);
$clr-accent-l: hsl(160, 32%, 87%);
$clr-dark: hsl(0, 0%, 18%);
$clr-light: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 42%);
$clr-green-l: hsl(158, 100%, 23%);

$ff-primary: Arial, sans-serif;

$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
