/* RESPONSIVENESS */
body {
   border: 2px solid red;
   overflow-x: hidden;
}
/* hamburger icon */
.dropdown-container {
    display: none;
  }
  .dropdown-container a {
   text-decoration: none;
   color: #fff;
  }
  .dropdown-menu-container{
    position:absolute;
    background:#37B6FF;
    color:#fff;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    z-index:10;
    opacity:0;
    -webkit-transform-origin:30px 30px;
    transform-origin:20px,20px;
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
    -webkit-transition:all 400ms ease-in-out;
    transition:all 400ms ease-in-out;
  }
  
  #pivot{
    visibility:hidden;
  }
  .pivot-trigger {
   position: absolute;
   height: 40px;
   width: 40px;
   left: 365px;
   top: 95px;
   z-index: 20;
   cursor: pointer;
 }
  .pivot-trigger span{
    display: block;
    position: absolute;
    height: 3px;
    width: 40px;
    background: #000;
    border-radius: 10px;
    left: 0;
    top:0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    opacity:1;
  }
  .pivot-trigger span:nth-child(1) {
    top: 0px;
  }
  
  .pivot-trigger span:nth-child(2) {
    top: 10px;
  }
  
  .pivot-trigger span:nth-child(3) {
    top: 20px;
  }
  
  
  #pivot:checked ~ .dropdown-menu-container{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  #pivot:checked + .pivot-trigger span:nth-child(1) {
     -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top:-8px
  }
  
  #pivot:checked + .pivot-trigger span:nth-child(2) {
    width:0;
    opacity:0;
  }
  
  #pivot:checked + .pivot-trigger span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
 .dropdown-menu-container ul.menu-items {
   padding: 150px !important;
 }
 li.item {
   font-size: 20px;
   list-style: none !important;
 }
@media (max-width: 1920px) {
.navbar-brand.col-2 {
    margin-right: 0 !important;
 }
.navbar-menu ul li {
    margin-right: 0 !important;
 }
    .nav-profile.col-2.d-flex.align-items-center.gap-2 {
        padding: 0 !important;
 }
    .navbar-brand img {
    width: 110px !important;
 }
}
@media (max-width: 1440px) { 
 .footer-list-col.col-sm-5.d-flex.flex-column.gap-3 {
  width: 30%;
}
}
@media (max-width: 1199px) {
ul.d-flex.align-items-center.gap-5.justify-content-center.m-0 {
    gap: 20px !important;
 }
.user-name h4 {
    font-size: 14px;
 }
}
@media (max-width: 1024px) {
    .navbar-brand.col-2 {
    margin-right: 0 !important;
    padding: 0 !important;
    max-width: 13%;
 }
 .user-name.d-flex.flex-column.gap-1 p {
    width: 100%;
 }
 .user-banner-details h2, .title-text h2, .subscript-section h2 {
    font-size: 30px;
 }
 .subs h1, .narr h1 {
    font-size: 30px;
 }
 .user-banner-details p, .title-text p {
    font-size: 16px;
 }
 .top-contents a {
    padding: 10px;
 }
 #card .card {
  width: 100% !important;
 }
}

@media (max-width: 768px) {
.navbar-menu a, .user-name h4 {
    font-size: 13px;
 }
.user-name p {
    font-size: 9px;
 }
nav.container.d-flex.align-items-center.gap-4.p-3 {
    gap: 30px !important;
 }
.about_banner h1, .narrate_banner h1 {
    font-size: 3rem;
 }
.about_banner, .narrate_banner {
    height: 60vh;
 }
.about-pageduo__wrapper .content h1, .values h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem !important;
 }
.values__wrapper h2 {
    font-size: 1rem;
 }
 .about-pageduo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 .about-pageduo__wrapper p {
    width: 100%;
 }
 .about-pageduo__wrapper .images {
    display: flex;
    justify-content: center;
    width: 60%;
 }
 .values {
    padding: 8rem 0;
 }
 .title-header {
    font-size: 25px;
 }
 .social-med-content h2 {
    font-size: 30px;
 }
 .social-med-content p, .news-letter-section p, .form-news-letter input[type=text], .footer-list-col a,
 .user-banner-details p, .title-text p {
    font-size: 15px;
 }
 .news-letter-section h2 {
    font-size: 30px;
 }
 input.btn.btn-primary.p-3 {
    padding: 5px !important;
 }
 .form-control {
    padding: 10px !important;
 }
 .footer-social-icon img {
    width: 40px;
    height: 40px;
 }
 .footer-list-col h4 {
    font-size: 20px;
 }
 .user-banner-details h2 {
    font-size: 30px;
 }
 .all-payout-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 .subscript-section.col-3.pt-5, .all-payout-inner-sec.col-9.d-flex.flex-column.gap-4 {
    width: 100%;
 }
 .subs h1, .narr h1, .title-text h2 {
    font-size: 30px;
 }
 .social-sec-img.col-6 {
   width: 45%;
 }
 .social-sec-img.col-sm-6 {
  width: 45%;
 }
}
@media (max-width: 425px) {
.dropdown-container {
    display: flex;
 }
.navbar-menu.col-8.d-flex.align-items-center.justify-content-center {
    display: none !important;
 }
 nav.container.d-flex.align-items-center.gap-4.p-3 {
    justify-content: space-between;
 }
 .nav-profile.col-2.d-flex.align-items-center.gap-2 {
   display: none !important;
 }
 
.user-banner-details h2 {
   font-size: 25px;
 }
 .banner-image-set button {
   width: 160px;
   padding: 10px !important;
 }
 .profile-image {
   justify-content: center;
 }
 .banner-user-details.d-flex.flex-column.gap-5 {
   align-items: center !important;
 }
 .user-banner-details.d-flex.flex-column.align-items-start {
   align-items: center !important;
 }
 section.main-banner-section.d-flex.justify-content-center.p-5.pe-3.ps-3 {
   padding-bottom: 100px !important;
 }
 .banner-image-set {
   bottom: -70px;
   right: 120px;
 }
 .user-banner-details.d-flex.flex-column.align-items-start p {
   text-align: center;
 }
 .values {
   padding: 3rem 0;
 }
 .values__wrapper {
   grid-template-columns: none;
 }
 .book-image img {
   height: 400px;
   object-fit: cover;
 }
 .inner-social-med.container.d-flex.gap-5 {
   flex-wrap: wrap;
 }
 section.social-media-section.p-5.pe-3.ps-3.mt-5 {
   padding: 50px 20px !important;
 }
 .social-media-section {
  border-radius: 0;
 }
 .top-contents.d-flex.align-items-center {
   flex-wrap: wrap !important;
 }
 .list-title h3 {
   font-size: 13px !important;
 }
 .payout-list-item p {
   font-size: 8px !important;
 }
 .payouts-list-card.p-5.d-flex.flex-column.gap-3 {
   padding: 15px !important;
 }
 
.social-med-content.col-sm-6.d-flex.flex-column.justify-content-center.gap-3 p, .social-med-content h2,
.social-med-content h5 {
  width: 100%;
  text-align: center;
 }
 .top-footer.container.d-flex.p-5.pe-3.ps-3 {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
 }
 form.form-news-letter.d-flex.align-items-center.gap-4 {
  flex-wrap: wrap;
  justify-content: center;
 }
 .footer-social-icon.col-sm-4.d-flex.gap-3, .footer-list-col.col-sm-2.d-flex.flex-column.gap-3,
 .footer-list-col.col-sm-3.d-flex.flex-column.gap-3,.footer-list-col.col-sm-5.d-flex.flex-column.gap-3 {
  justify-content: center;
  text-align: center;
 }
 .form-news-letter input[type=text], .form-news-letter input[type=submit],
 a.btn.btn-primary.col-2 {
  width: 100%;
 }
 .card-body.d-flex.justify-content-center.align-items-center img {
  width: 20%;
 }
 .social-sec-img.col-sm-6 {
  width: 100%;
 }
 .test.d-flex.flex-row.justify-content-between.align-items-center.gap-5 {
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
 }
 .footer-list-col.col-sm-5.d-flex.flex-column.gap-3 {
  width: 100%;
 }
}
@media (max-width: 375px) {  
 .pivot-trigger {
  left: 320px;
 }
}
@media (max-width: 320px) {  
  .pivot-trigger {
   left: 250px;
  }
 }

